.about {
    height: 80vh;
    padding-top: 4vh;
    padding-left: 7vw;
    padding-right: 7vw;
    background-color: #F4F8FF;
}

.about-text {
    font-family: Roboto,sans-serif;
    font-size: 2.5vw;
    margin-right: 12vw;
}